__pycache__/__init__.cpython-38.pyc
*.pyc
adf/*.pyc
adf/__pycache__/*.pyc
adf/__pycache__/vibrations.cpython-38.pyc
__pycache__/__init__.cpython-38.pyc
__pycache__/__init__.cpython-38.pyc
__pycache__/chemdata.cpython-38.pyc
