__pycache__/__init__.cpython-38.pyc
*.pyc
adf/*.pyc
adf/__pycache__/*.pyc
adf/__pycache__/vibrations.cpython-38.pyc
__pycache__/__init__.cpython-38.pyc
__pycache__/__init__.cpython-38.pyc
__pycache__/chemdata.cpython-38.pyc
.vscode/settings.json
nwchem/__pycache__/nwchem.cpython-38.pyc
dim/*.pyc
dim/__pycache__/*
dressedT/__pycache__/*
dressedT/*.pyc
nwchem/__pycache__/*
nwchem/*.pyc